
$color-normal : #b8b8b8;
$color-advanced : #6fc300;
$color-rare : #00b5ff;
$color-hero : #bf00fe;
$color-legend : #f39303;
$color-relics : #ff6000;
$color-mythology : #eee;

// common
.font-gold { color: gold;}

.font-normal { color: $color-normal; }
.font-advanced { color: $color-advanced; }
.font-rare { color: $color-rare; }
.font-hero { color: $color-hero; }
.font-legend { color: $color-legend; }
.font-relics { color: $color-relics; }
.font-mythology { color: $color-mythology; }

.font-red { color: #ff2600;}
.font-blue { color: #008cff;}

// layout
.flex-center {
  display: flex;
  align-items: center;
}
