
$color-normal : #b8b8b8;
$color-advanced : #6fc300;
$color-rare : #00b5ff;
$color-hero : #bf00fe;
$color-legend : #f39303;
$color-relics : #ff6000;
$color-mythology : #eee;

// common
.font-gold { color: gold;}

.font-normal { color: $color-normal; }
.font-advanced { color: $color-advanced; }
.font-rare { color: $color-rare; }
.font-hero { color: $color-hero; }
.font-legend { color: $color-legend; }
.font-relics { color: $color-relics; }
.font-mythology { color: $color-mythology; }

.font-red { color: #ff2600;}
.font-blue { color: #008cff;}


// green colors
$color-green01: #d8f3dc;
$color-green02: #b7e4c7;
$color-green03: #95d5b2;
$color-green04: #74c69d;
$color-green05: #52b788;
$color-green06: #40916c;
$color-green07: #2d6a4f;
$color-green08: #1b4332;
$color-green09: #081c15;

$color-stone01: #f8f9fa;
$color-stone02: #e9ecef;
$color-stone03: #dee2e6;
$color-stone04: #ced4da;
$color-stone05: #adb5bd;
$color-stone06: #6c757d;
$color-stone07: #495057;
$color-stone08: #343a40;
$color-stone09: #212529;
$color-stone10: #141618;

$color-summer01: #d9ed92;
$color-summer02: #b5e48c;
$color-summer03: #99d98c;
$color-summer04: #76c893;
$color-summer05: #52b69a;
$color-summer06: #34a0a4;
$color-summer07: #168aad;
$color-summer08: #1a759f;
$color-summer09: #1e6091;
$color-summer10: #184e77;


// layout
.flex-center {
  display: flex;
  align-items: center;
}


